#!/bin/sh
if [ -n "$DIRENV_DIFF" ]; then
  # Do not `set -e` unless we're being run from direnv
  set -e 
fi

if [ ! -f venv-ptinit/bin/activate ]
then
	echo "Creating a virtual Python environment"
	python3 -m venv venv-ptinit >/dev/null
fi

if [ -f venv-ptinit/bin/activate ]
then
	echo "Activating the Python virtual environment"
	. venv-ptinit/bin/activate
fi

if [ -f venv-ptinit/bin/pip3 ]
then
	echo "Installing Python requirements"
	venv-ptinit/bin/pip3 install --upgrade pip 1> /dev/null
	venv-ptinit/bin/pip3 install -r requirements.txt 1> /dev/null
fi

