#!/bin/sh
if [ -n "$DIRENV_DIFF" ]; then
  # Do not `set -e` unless we're being run from direnv
  set -e 
fi

use flake .#dev

if [ ! -f venv-ptinit/bin/activate ]
then
	echo "Creating a virtual Python environment"
	uv venv --allow-existing --seed venv-ptinit
	echo "Activating the Python virtual environment"
	. venv-ptinit/bin/activate
fi

echo "Installing Python requirements"
. venv-ptinit/bin/activate
uv pip install --upgrade pip 1> /dev/null
uv pip install -r requirements.txt 1> /dev/null
