.DS_Store
*.pyc
__pycache__
.idea
.vscode
/*.retry
/.fact_cache
/venv/
debug.log
id_ed25519*
/venv*/
.collections
.ansible
.bin/ansible-vault-merge
.bin/ansible-keyscan
roles/apache
roles/dehydrated
roles/elasticsearch
roles/mail
roles/mailhog
roles/mariadb
roles/nginx
roles/oauth2_proxy
roles/php
roles/postgresql
roles/redis
roles/solr
roles/supervisord
roles/system
roles/zabbix_agent
roles/varnish
roles/docker
