---
galaxy_info:
  author: "punkt.de"
  license: "MIT"
  role_name: $role_name_short
  description: "$role_name_short role for Proserver"
  namespace: "punktde"
  min_ansible_version: "2.15"
  platforms: []
