---
name: CI
on:
  push:
  workflow_dispatch:
jobs:
  ansible-role:
    uses: punktDe/shared-workflows/.github/workflows/ansible-role.yml@main
    secrets:
      galaxy_api_key: ${{ secrets.GALAXY_API_KEY }}
