---
name: Generate README.md for the role

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  readme:
    uses: punktDe/shared-workflows/.github/workflows/aardoc-generate-readme.yml@main
    permissions:
      contents: write
