---
name: Test
run-name: Run molecule tests on the role
on:
  push:
  workflow_dispatch:

env:
  ANSIBLE_ROLES_PATH: roles
  ANSIBLE_HASH_BEHAVIOUR: merge

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: |
          uv -q venv --allow-existing --seed .venv
          . .venv/bin/activate
          uv -q pip install -r requirements.txt

      - name: Run ansible-lint
        run: |
          . .venv/bin/activate
          ansible-lint

  molecule:
    strategy:
      matrix:
        os: [ubuntu-2204, ubuntu-2404, debian-12, debian-13]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        run: uv python install

      - name: Install dependencies.
        run: |
          uv -q venv --allow-existing --seed .venv
          . .venv/bin/activate
          uv -q pip install -r requirements.txt
          ansible-galaxy install -r requirements.yml

      - name: Run molecule
        run: |
          . .venv/bin/activate
          molecule test -p ${{ matrix.os }}
