#!/bin/sh
set -e

if [ ! -f venv-{0}/bin/activate ]
then
	echo "Creating a virtual Python environment"
	python3 -m venv venv-{0} >/dev/null
fi

if [ -f venv-{0}/bin/activate ]
then
	echo "Activating the Python virtual environment"
	. venv-{0}/bin/activate
fi

if [ -f venv-{0}/bin/pip3 ]
then
	echo "Installing Python requirements"
	venv-{0}/bin/pip3 install --upgrade pip 1> /dev/null
	venv-{0}/bin/pip3 install -r requirements.txt 1> /dev/null
fi

# Install Ansible roles
if ! [ -d "roles/system" ]; then
    echo "Installing Ansible roles"
    ansible-galaxy install -r requirements.yml
fi

